{% extends 'consultas/base/baseAdmin.html' %}
{% load staticfiles %}
{% block title %}Agregar Estudiante{% endblock %}
{% block extraLinks %}
<link rel="stylesheet" href="{% static 'css/EstilosCrearProyecto.css' %}">
{% endblock %}
{% block extraJs%}
<script src="{% static 'js/ScriptsCrearProyecto.js' %}"></script>
{% endblock %}
{% block contend %}
<div class="formulario">
	<fieldset>
		<legend>Agregar Estudiante</legend>
		<form class="form-horizontal" method="post" action="">{% csrf_token %}
		{{ form.as_p}}
			<div class="formIzq">
				{% if listProyectos %}
			    <div class="form-group">
					<label for="proyecto" class="col-lg-2 control-label labels">Proyecto:</label>
					<select class="form-control inputs" id="idProyecto" name="idProyecto">
					{% for proyectos in listProyectos %}
			        	<option>{{proyectos.id}}</option>
			        {% endfor%}
			        </select>
			    </div>
			    {% else %}
			    <div class="form-group has-error">
					<label for="proyecto" class="col-lg-2 control-label labels">Proyecto:</label>
					<select class="form-control inputs" id="proyecto" name="idProyecto">
			        	<option class="">No hay Proyectos Registradas</option>
					</select>
			    </div>
			    {% endif %}
			    <div class="form-group">
			    	<label for="nombreEstudiante" class="col-lg-2 control-label labels">Nombre Estudiante :</label>
			        <input type="text" class="form-control inputs" id="nombre" name="nombre" placeholder="Escribe Nombre del Estudiante">
			    </div>
			    <div class="form-group">
			    	<label for="passEstudiante" class="col-lg-2 control-label labels">Contraseña Estudiante :</label>
			        <input type="password" class="form-control inputs" id="password" name="password" placeholder="***********">
			    </div>
			    {% if listSedes %}
			    <div class="form-group">
					<label for="sede" class="col-lg-2 control-label labels">Sede:</label>
					<select class="form-control inputs" id="sede" name="sede">
					{% for sedes in listSedes %}
			        	<option>{{sedes.nombre}}</option>
			        {% endfor%}
			        </select>
			    </div>
			    {% else %}
			    <div class="form-group has-error">
					<label for="Sede" class="col-lg-2 control-label labels">Sede:</label>
					<select class="form-control inputs" id="sede" name="sede">
			        	<option class="">No hay Sedes Registradas</option>
					</select>
			    </div>
			    {% endif %}
			    <div class="form-group">
					<label for="tipoDocumento" class="col-lg-2 control-label labels">Tipo Documento:</label>
					<select class="form-control inputs" id="tipoDocumento" name="tipoDocumento">
			        	<option>C.C</option>
			        	<option>NIT</option>
			        	<option>NUIP</option>
					</select>
			    </div>
			    {% if listCiclos %}
			    <div class="form-group">
					<label for="ciclo" class="col-lg-2 control-label labels">Ciclo:</label>
					<select class="form-control inputs" id="ciclo" name="ciclo">
					{% for ciclos in listCiclos %}
			        	<option>{{ciclos.nombre}}</option>
			        {% endfor%}
			        </select>
			    </div>
			    {% else %}
			    <div class="form-group has-error">
					<label for="Ciclo" class="col-lg-2 control-label labels">Ciclo:</label>
					<select class="form-control inputs" id="ciclo" name="ciclo">
			        	<option class="">No hay Ciclos Registradas</option>
					</select>
			    </div>
			    {% endif %}
			    {% if listProgramas %}
			    <div class="form-group">
					<label for="programa" class="col-lg-2 control-label labels">Programa:</label>
					<select class="form-control inputs" id="programa" name="programa">
					{% for programas in listProgramas %}
			        	<option>{{programas.nombre}}</option>
			        {% endfor%}
			        </select>
			    </div>
			    {% else %}
			    <div class="form-group has-error">
					<label for="programa" class="col-lg-2 control-label labels">Programa:</label>
					<select class="form-control inputs" id="programa" name="programa">
			        	<option class="">No hay Programas Registradas</option>
					</select>
			    </div>
			    {% endif %}
			    <div class="form-group">
			    	<label for="otroTelefono" class="col-lg-2 control-label labels">Otro Telefono:</label>
			        <input type="text" class="form-control inputs" id="otroTelefono" name="otroTelefono" placeholder="Escribe Otro Telefono	">
			    </div>
			    <div class="form-group">
					<label for="investigacion" class="col-lg-2 control-label labels">Investigacion:</label>
					<select class="form-control inputs" id="investigacion" name="investigacion">
			        	<option>Si</option>
			        	<option>No</option>
					</select>
			    </div>
			</div>
			<div class="formDer">
				<div class="form-group">
			    	<label for="usuarioEstudiante" class="col-lg-2 control-label labels">Usuario Estudiante :</label>
			        <input type="text" class="form-control inputs" id="usuario" name="usuario" placeholder="Escribe Nombre del Estudiante">
			    </div>
			    <div class="form-group">
			    	<label for="apellidoEstudiante" class="col-lg-2 control-label labels">Apellido Estudiante :</label>
			        <input type="text" class="form-control inputs" id="apellido" name="apellido" placeholder="Escribe Apellido del Estudiante">
			    </div>
			    {% if listFacultad %}
			    <div class="form-group">
					<label for="facultad" class="col-lg-2 control-label labels">Facultad:</label>
					<select class="form-control inputs" id="facultad" name="facultad">
					{% for facultad in listFacultad %}
			        	<option>{{facultad.nombre}}</option>
			        {% endfor%}
			        </select>
			    </div>
			    {% else %}
			    <div class="form-group has-error">
					<label for="facultad" class="col-lg-2 control-label labels">Faculdad:</label>
					<select class="form-control inputs" id="facultad" name="facultad">
			        	<option class="">No hay Faculdad Registrada</option>
					</select>
			    </div>
			    {% endif %}
			    <div class="form-group">
			    	<label for="documento" class="col-lg-2 control-label labels">Documento:</label>
			        <input type="text" class="form-control inputs" id="documento" name="documento" placeholder="Escribe Documento del Estudiante">
			    </div>
			    <div class="form-group">
			    	<label for="telefono" class="col-lg-2 control-label labels">Telefono:</label>
			        <input type="text" class="form-control inputs" id="telefono" name="telefono" placeholder="Escribe Telefono del Estudiante">
			    </div>
			    <div class="form-group">
			    	<label for="celular" class="col-lg-2 control-label labels">Celular:</label>
			        <input type="text" class="form-control inputs" id="celular" name="celular" placeholder="Escribe Celular del Estudiante">
			    </div>
			    <div class="form-group">
			    	<label for="mail" class="col-lg-2 control-label labels">E-Mail:</label>
			        <input type="text" class="form-control inputs" id="mail" name="mail" placeholder="Escribe E-Mail del Estudiante">
			    </div>
			    <div class="form-group">
			    	<label for="mailInstitucional" class="col-lg-2 control-label labels">E-Mail Institucional:</label>
			        <input type="text" class="form-control inputs" id="mailInstitucional" name="mailInstitucional" placeholder="Escribe E-Mail Institucional del Estudiante">
			    </div>
			    <div class="form-group">
			    	<div class="col-lg-10 col-lg-offset-2 boton">
			        	<input type="submit" class="btn btn-primary" id="agregarEstudiante" name="agregarEstudiante" value="Agregar Estudiante">
			    	</div>
			    </div>
			</div>
		</form>
	</fieldset>
</div>
{% endblock %}