{% extends 'consultas/base/baseDirectorProyecto.html' %}
{% load staticfiles %}
{% block title %}Crear Actividad{% endblock %}
{% block extraLinks %}
<link rel="stylesheet" href="{% static 'css/EstilosCrearProyecto.css' %}">
{% endblock %}
{% block contend %}
<div class="formulario">
	<fieldset>
		<legend>Crear Actividad</legend>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
		{{ form.as_p}}
			<div class="formIzq">
				    <div class="form-group">
				      <label for="nombreActividad" class="col-lg-2 control-label labels">Nombre Actividad</label>
				        <input type="text" class="form-control inputs" id="nombreActividad" name="nombreActividad" placeholder="Actividad">
				    </div>
				    <div class="form-group">
				      <label for="fechaLimite" class="col-lg-2 control-label labels">Fecha Limite</label>
				        <input type="date" class="form-control inputs" id="fechaLimite" name="fechaLimite">
				    </div>
			</div>
			<div class="formDer">
				   
				    <div class="form-group">
				      <label for="idProyecto" class="col-lg-2 control-label labels">Proyecto:</label>
				        <select class="form-control inputs" id="idProyecto" name="idProyecto">
				        	{% if listaProyectos %}
				    		{% for proyectos in listaProyectos %}
				    		<option value="{{proyectos.id}}">{{ proyectos.nombre_IES}} ({{ proyectos.nombreMacroProyecto}})</option>
				    		{% endfor %}
				    		{% else %}
				    		<option>No tienes proyectos</option>
				    		{% endif %}
				    	</select>
				    </div>
				    <div class="form-group">
				      <label for="descripcion" class="col-lg-2 control-label labels"> Descripcion Actividad</label>
				        <textarea class="form-control inputs" rows="3" id="descripcion" name="descripcion"></textarea>
				    </div>
				    
				 <!---   <div class="form-group">
				      <label for="adjunto" class="col-lg-2 control-label labels">Adjuntar documento</label>
				        <input type="file" name="adjunto" class="form-control inputs" id="adjunto" name="adjunto" placeholder="Adjuntar Archivo">
				    </div>
				   ---!>
				    
				
			</div>
			<div class="form-group">
			      <div class="col-lg-10 col-lg-offset-5">
			      {% if listaProyectos %}
			        <button type="submit" class="btn btn-primary">Crear Actividad</button>
			       {% else %} 
			        <button type="submit" class="btn btn-primary" disabled>Crear Actividad</button>
			        {% endif %} 
			      </div>
			    </div>
		</form>
	</fieldset>
</div>
{% endblock %}
