{% extends 'consultas/base/baseAdmin.html' %}
{% load staticfiles %}
{% block title %}Crear Proyecto{% endblock %}
{% block extraLinks %}
<link rel="stylesheet" href="{% static 'css/EstilosCrearProyecto.css' %}">
{% endblock %}
{% block extraJs%}
<script src="{% static 'js/ScriptsCrearProyecto.js' %}"></script>
{% endblock %}
{% block contend %}
<div class="formulario">
	<fieldset>
		<legend>Crear Proyecto</legend>
		<form class="form-horizontal" method="post" action="">{% csrf_token %}
		{{ form.as_p}}
			<div class="formIzq">
			    <div class="form-group">
			      <label for="nombreMacroProyecto" class="col-lg-2 control-label labels">Nombre Macroproyecto:</label>
			        <input type="text" class="form-control inputs" id="nombreMacroProyecto" name="nombreMacroProyecto" placeholder="Escribe Nombre Macroproyecto">
			    </div>
			    <div class="form-group">
			      <label for="objetivo" class="col-lg-2 control-label labels">Objetivo:</label>
			        <textarea class="form-control inputs" rows="3"  id="objetivo" name="objetivo" placeholder="Escribe objetivo"></textarea>
			    </div>
			    <div class="form-group">
			      <label for="empresa" class="col-lg-2 control-label labels">Empresa:</label>
			        <input type="text" class="form-control inputs" id="empresa" name="empresa" placeholder="Escribe Nombre Empresa">
			    </div>
			    <div class="form-group">
			      <label for="perfiles" class="col-lg-2 control-label labels">Perfiles:</label>
			        <input type="text" class="form-control inputs" id="perfiles" name="perfiles" placeholder="Escribe Nombre de Perfiles">
			    </div>
			    <div class="form-group">
			      <label for="nombreJurados" class="col-lg-2 control-label labels">Nombre Jurados:</label>
			        <input type="text" class="form-control inputs" id="nombreJurados" name="nombreJurados" placeholder="Escribe Nombre de Jurados seguida por una ,">
			    </div>
			    
			</div>
			<div class="formDer">
			    <div class="form-group">
			      <label for="NombreProyecto" class="col-lg-2 control-label labels">Nombre del Proyecto:</label>
			        <input type="text" class="form-control inputs" id="nombreProyecto" name="nombreProyecto" placeholder="Escribe nombre del Proyecto">
			    </div>
			    <div class="form-group">
			      <label for="sublinea" class="col-lg-2 control-label labels">Sublinea:</label>
			        <input type="text" class="form-control inputs" id="sublinea" name="sublinea" placeholder="Escribe sublinea">
			    </div>
			    {% if list_tipoProyectos %}
			    <div class="form-group">
					<label for="producto" class="col-lg-2 control-label labels">Producto:</label>
					<select class="form-control inputs" id="producto" name="producto">
					{% for tipo_proyectos in list_tipoProyectos %}
			        	<option>{{tipo_proyectos.nombre}}</option>
			        {% endfor%}
			        </select>
			    </div>
			    {% else %}
			    <div class="form-group has-error">
					<label for="producto" class="col-lg-2 control-label labels">Producto:</label>
					<select class="form-control inputs" id="producto" name="producto">
			        	<option class="">No hay Productos Registradas</option>
					</select>
			    </div>
			    {% endif %}
			    <div class="form-group">
			      <label for="nombreDirector" class="col-lg-2 control-label labels">Usuario Director:</label>
			        <input type="text" class="form-control inputs" id="nombreDirector" name="nombreDirector" placeholder="Escribe Nombre deñ Director">
			    </div>
			    <div class="form-group">
			      <label for="cupoMinimo" class="col-lg-2 control-label labels">Cupo Minimo(Estudiantes):</label>
			      <input class="form-control inputs" type="number" value="2" min="2" max="5" id="cupoMinimo" name="cupoMaximo">
			    </div>
			    <div class="form-group">
			      <label for="cupoMaximo" class="col-lg-2 control-label labels">Cupo Maximo(Estudiantes):</label>
			      <input class="form-control inputs" type="number" value="2" min="2" max="5" id="cupoMaximo" name="cupoMaximo">
			    </div>
			    <div class="form-group">
			    	<div class="col-lg-10 col-lg-offset-2 boton">
			        	<input type="submit" class="btn btn-primary" id="crearProyecto" name="crearProyecto" value="Crear Proyectos">
			    	</div>
			    </div>
			</div>
		</form>
	</fieldset>
</div>
{% endblock %}