{% extends 'consultas/base/baseDirectorProyecto.html' %}
{% load staticfiles %}
{% block title %}Editar Proyecto{% endblock %}
{% block extraLinks %}
<link rel="stylesheet" href="{% static 'css/EstilosCrearProyecto.css' %}">
{% endblock %}
{% block contend %}
<div class="formulario">
	<fieldset>
		<legend>Editar Proyecto</legend>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
		{{ form.as_p}}
			<div class="formIzq">
					{% if listaProyectos %}
					 <div class="form-group">
				      <label for="idProyecto" class="col-lg-2 control-label labels">Proyecto:</label>
				        <select class="form-control inputs" id="idProyecto" name="idProyecto" required>
				        {% for proyectos in listaProyectos %}
				    		<option value="{{proyectos.id}}">{{ proyectos.nombre_IES}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="idProyecto" class="col-lg-2 control-label labels">Proyecto:</label>
				        <select class="form-control inputs" id="idProyecto" name="idProyecto" required>
				    		<option>No tienes proyectos</option>
				    	</select>
				    </div>
				    {% endif %}

				    <div class="form-group">
				      <label for="codigoIES" class="col-lg-2 control-label labels">Codigo IES</label>
				        <input type="text" class="form-control inputs" id="codigoIES" name="codigoIES" placeholder="Codigo IES" required>
				    </div>    
				    <div class="form-group">
				      <label for="ano" class="col-lg-2 control-label labels">Año</label>
				        <input type="text" class="form-control inputs" id="ano" name="ano" placeholder="año" required>
				    </div>
				    
				     <div class="form-group">
				      <label for="semestre" class="col-lg-2 control-label labels">Semestre</label>
				        <input type="text" class="form-control inputs" id="semestre" name="semestre" placeholder="Semestre" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="titulo" class="col-lg-2 control-label labels">Titulo</label>
				        <input type="text" class="form-control inputs" id="titulo" name="titulo" placeholder="Titulo" required>
				    </div>
				    
				     <div class="form-group">
				      <label for="duracion" class="col-lg-2 control-label labels">Duracion</label>
				        <input type="text" class="form-control inputs" id="duracion" name="duracion" placeholder="Duracion" required>
				    </div>
				    
				     <div class="form-group">
				      <label for="sede" class="col-lg-2 control-label labels">Sede</label>
				        <input type="text" class="form-control inputs" id="sede" name="sede" placeholder="Sede" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="nombre_materia" class="col-lg-2 control-label labels">Nombre Materia</label>
				        <input type="text" class="form-control inputs" id="nombre_materia" name="nombre_materia" placeholder="Nombre Materia" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="codigo_materia" class="col-lg-2 control-label labels">Codigo Materia</label>
				        <input type="text" class="form-control inputs" id="codigo_materia" name="codigo_materia" placeholder="Nombre Materia" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="grupo_materia" class="col-lg-2 control-label labels">Grupo Materia</label>
				        <input type="text" class="form-control inputs" id="grupo_materia" name="grupo_materia" placeholder="Grupo Materia" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="fecha_inicio" class="col-lg-2 control-label">Fecha Inicio</label>
				        <input type="date" class="form-control inputs" id="fecha_inicio" name="fecha_inicio" required>
				    </div>
				    

				    <div class="form-group">
				      <label for="objetivo_socioeconomico" >Objetivo Socioeconomico</label>
				        <textarea class="form-control inputs" rows="3" id="objetivo_socioeconomico" name="objetivo_socioeconomico" required></textarea>
				    </div>
				    
				     <div class="form-group">
				      <label for="resumen_proyecto">Resumen Proyecto</label>
				        <textarea class="form-control inputs" rows="3" id="resumen_proyecto" name="resumen_proyecto" required></textarea>
				    </div>
				    
				     <div class="form-group">
				      <label for="resultados_esperados">Resultados Esperados</label>
				        <textarea class="form-control inputs" rows="3" id="resultados_esperados" name="resultados_esperados" required></textarea>
				    </div>
			</div>
			<div class="formDer">
				    <div class="form-group">
				      <label for="horas_asignadas_docente" class="col-lg-2 control-label labels">Horas:</label>
				        <input type="text" class="form-control inputs" id="horas_asignadas_docente" name="horas_asignadas_docente" placeholder="Horas Asignadas Docente" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="gasto_total" class="col-lg-2 control-label labels">Gasto</label>
				        <input type="text" class="form-control inputs" id="gasto_total" name="gasto_total" placeholder="Gasto Total" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="tipo_De_gasto" class="col-lg-2 control-label labels">Tipo De Gasto</label>
				        <input type="text" class="form-control inputs" id="tipo_De_gasto" name="tipo_De_gasto" placeholder="Tipo De Gasto" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="valor_semana" class="col-lg-2 control-label labels">Valor Semana</label>
				        <input type="text" class="form-control inputs" id="valor_semana" name="valor_semana" placeholder="Valor Semana" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="empresa" class="col-lg-2 control-label labels">Empresa</label>
				        <input type="text" class="form-control inputs" id="empresa" name="empresa" placeholder="Empresa" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="perfiles" class="col-lg-2 control-label labels">Perfiles</label>
				        <input type="text" class="form-control inputs" id="perfiles" name="perfiles" placeholder="Perfiles" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="valor" class="col-lg-2 control-label labels">Valor</label>
				        <input type="text" class="form-control inputs" id="valor" name="valor" placeholder="Valor" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="realizo_Sustentacion_publica" class="col-lg-2 control-label labels">Sustentacion Publica</label>
				        <input type="text" class="form-control inputs" id="realizo_Sustentacion_publica" name="realizo_Sustentacion_publica" placeholder="Realizo Sustentacion Publica" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="otras_Entidades_Participantes" class="col-lg-2 control-label labels">Entidades Participantes</label>
				        <input type="text" class="form-control inputs" id="otras_Entidades_Participantes" name="otras_Entidades_Participantes" placeholder="Otras Entidades Participantes" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="asociado_al_area_de_conocimiento" class="col-lg-2 control-label labels">Area De Conocimiento</label>
				        <input type="text" class="form-control inputs" id="asociado_al_area_de_conocimiento" name="asociado_al_area_de_conocimiento" placeholder="Area De Conocimiento" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="finalizado" class="col-lg-2 control-label labels">Finalizado</label>
				        <input type="text" class="form-control inputs" id="finalizado" name="finalizado" placeholder="finalizado" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="paz_y_salvo" class="col-lg-2 control-label labels">Paz Y Salvo</label>
				        <input type="text" class="form-control inputs" id="paz_y_salvo" name="paz_y_salvo" placeholder="Paz y Salvo" required>
				    </div>
				    
				    <div class="form-group">
				      <label for="modalidad_de_seminario" class="col-lg-2 control-label labels">Modalidad De Seminario</label>
				        <input type="text" class="form-control inputs" id="modalidad_de_seminario" name="modalidad_de_seminario" placeholder="Modalidad De Seminario" required>
				    </div>
				    {% if lisGrupoInv %}
				    <div class="form-group">
				      <label for="grupoInves" class="col-lg-2 control-label labels">Grupo Investigacion</label>
				        <select class="form-control inputs" id="grupoInves" name="grupoInves" required>
				        {% for grupo_inves in lisGrupoInv %}
				    		<option value="{{grupo_inves.id}}">{{ grupo_inves.nombre_IES}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="grupoInves" class="col-lg-2 control-label labels">Grupo Investigacion</label>
				        <select class="form-control inputs" id="grupoInves" name="grupoInves" required>
				    		<option>No hay Grupos de investigacion</option>
				    	</select>
				    </div>
				    {% endif %}
				    {% if listLineasInv %}
				    <div class="form-group">
				      <label for="lineaInvesti" class="col-lg-2 control-label labels">Lineas Investigacion</label>
				        <select class="form-control inputs" id="lineaInvesti" name="lineaInvesti" required>
				        {% for linea_invs in listLineasInv %}
				    		<option value="{{linea_invs.id}}">{{ linea_invs.nombre}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="lineaInvesti" class="col-lg-2 control-label labels">Lineas Investigacion</label>
				        <select class="form-control inputs" id="lineaInvesti" name="lineaInvesti" required>
				    		<option>No hay Grupos de investigacion</option>
				    	</select>
				    </div>		
				    {% endif %}
				    {% if lisTipoParticipacion %}
				     <div class="form-group">
				      <label for="tipoParticipacionProyecto" class="col-lg-2 control-label labels">Tipo Participacion Proyecto</label>
				        <select class="form-control inputs" id="tipoParticipacionProyecto" name="tipoParticipacionProyecto" required>
				        {% for ti_parti_proy in lisTipoParticipacion %}
				    		<option value="{{ti_parti_proy.id}}">{{ ti_parti_proy.nombre}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="tipoParticipacionProyecto" class="col-lg-2 control-label labels">Tipo Participacion Proyecto</label>
				        <select class="form-control inputs" id="tipoParticipacionProyecto" name="tipoParticipacionProyecto" required>
				    		<option>No hay Grupos de investigacion</option>
				    	</select>
				    </div>
				    {% endif %}
				    
				    {% if listNbc %}
					<div class="form-group">
				      <label for="nucleoBasic" class="col-lg-2 control-label labels">Nucleo Basico Conocimiento</label>
				        <select class="form-control inputs" id="nucleoBasic" name="nucleoBasic">
				        {% for nbc in listNbc %}
				    		<option value="{{nbc.id}}">{{nbc.area}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="nucleoBasic" class="col-lg-2 control-label labels">Nucleo Basico Conocimiento</label>
				        <select class="form-control inputs" id="nucleoBasic" name="nucleoBasic">
				    		<option>No hay NBC</option>
				    	</select>
				    </div>
				   	{% endif %}
				    {% if listMaxNivelEdu %}
				    <div class="form-group">
				      <label for="maximoNivelEducativo" class="col-lg-2 control-label labels">Maximo Nivel Educativo</label>
				        <select class="form-control inputs" id="maximoNivelEducativo" name="maximoNivelEducativo">
				        {% for max_nivel_educa in listMaxNivelEdu %}
				    		<option value="{{max_nivel_educa.id}}">{{ max_nivel_educa.nivel}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="maximoNivelEducativo" class="col-lg-2 control-label labels">Maximo Nivel Educativo</label>
				        <select class="form-control inputs" id="maximoNivelEducativo" name="maximoNivelEducativo">
				    		<option>No hay Grupos de investigacion</option>
				    	</select>
				    </div>
				    {% endif %}

				    {% if listFuenteFinancia %}
				    <div class="form-group">
				      <label for="fuenteFinancia" class="col-lg-2 control-label labels">Fuente de Financia</label>
				        <select class="form-control inputs" id="fuenteFinancia" name="fuenteFinancia">
				        {% for fuente_financia in listFuenteFinancia %}
				    		<option value="{{fuente_financia.id}}">{{ fuente_financia.nombre}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="fuenteFinancia" class="col-lg-2 control-label labels">Fuente de Financia</label>
				        <select class="form-control inputs" id="fuenteFinancia" name="fuenteFinancia">
				    		<option>No hay NBC</option>
				    	</select>
				    </div>		
				    {% endif %}

				    {% if listRedInvest %}
				    <div class="form-group">
				      <label for="redInvestigacion" class="col-lg-2 control-label labels">Red Investigacion</label>
				        <select class="form-control inputs" id="redInvestigacion" name="redInvestigacion">
				        {% for red_inves in listRedInvest %}
				    		<option value="{{red_inves.id}}">{{ red_inves.nombre}}</option>
				    	{% endfor %}
				    	</select>
				    </div>
				    {% else %}
				    <div class="form-group has-error">
				      <label for="redInvestigacion" class="col-lg-2 control-label labels">Red Investigacion</label>
				        <select class="form-control inputs" id="redInvestigacion" name="redInvestigacion">
				    		<option>No hay Red de Investigacion</option>
				    	</select>
				    </div>
				    {% endif %}
			</div>
			<div class="form-group">
			      <div class="col-lg-10 col-lg-offset-5">
			      {% if listaProyectos %}
			        <button type="submit" class="btn btn-primary">Editar Proyecto</button>
			      {% else %}
			      	<button type="submit" class="btn btn-primary" disabled>Editar Proyecto</button>
			      {% endif %}
			      </div>
			    </div>
		</form>
	</fieldset>
</div>
{% endblock %}
