{% extends 'consultas/base/baseAdmin.html' %}
{% load staticfiles %}
{% block title %}Registrar Informacion{% endblock %}
{% block extraLinks %}
<link rel="stylesheet" href="{% static 'css/EstilosCrearProyecto.css' %}">
{% endblock %}
{% block contend %}
<div class="formulario">
	<fieldset>
		<legend>Registrar Noticias</legend>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
		{{ form.as_p}}
			<div class="formIzq">
				    <div class="form-group">
				      <label for="titulo" class="col-lg-2 control-label labels">Titulo</label>
				      <input type="text" class="form-control inputs" id="titulo" name="titulo" placeholder="
					  titulo noticia">
					</div>
				    <div class="form-group">
				      <label for="fecha_Publicacion" class="col-lg-2 control-label labels">Fecha de Publicación</label>
				      
				        <input type="date" class="form-control inputs" id="fecha_Publicacion" name="fecha_Publicacion">
				      
				    </div>
				   <div class="form-group">
				      <label for="adjunto" class="col-lg-2 control-label labels">Adjuntar imagen</label>
				        <input type="file" name="adjunto" class="form-control inputs" id="adjunto" name="adjunto" placeholder="Adjuntar Archivo">
				    </div>

				    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-5">
			        <button type="submit" class="btn btn-primary">Crear Noticia</button>
			      </div>
			    </div>
    </div>
    <div class="formDer">
    	<div class="form-group">
                    	<label for="contenido" class="col-lg-2 control-label labels">Contenido</label>
						<textarea name="contenido" class="form-control inputs" rows="5" cols="20"></textarea>  
				    </div>
		<div class="form-group">
				      <label for="idPropietario" class="col-lg-2 control-label labels">Propietario:</label>
				        <input type="text" class="form-control inputs" id="idPropietario" name="idPropietario">
				    </div>

    </div>
		</form>
	</fieldset>
</div>
{% endblock %}
